*{
	margin:20px;
	box-sizing: border-box;
}

.container introduction {
    margin-left: 50%;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	line-height:180%;
	color:#000;
	
}
#header{
	padding-top:5px;
	padding-bottom: 100px;
	background: #282828;

}
#header .title{
	display: block;
	font-size:20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	color:#fff;
}
.title .tribute{
	display:block;
	font-size:16px;
	text-transform:none;

}
#main .caption{
	font-size:10px;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
}
#main p{
	text-align:justify;
}



#personal-life{
	color:#fff;
	background:#e74c3c;
}
#personal-life img{
	height:282px;
}
/*CAREER SECTION*/
#career,#personal-life,#intro, #facts, #death, #filmography{
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
}
 .section-title{
	font-weight: bolder;
	font-family: 'Ubuntu', sans-serif;
	font-size:35px;
	margin-bottom:15px;
	
}
 .section-title:after{
	content:'';
		display:block;
	border:2px solid #fff;
	margin-top:10px;
	width:70px;
}
#intro{
	padding-top:40px;
	background:#2c3e50;
	text-underline-offset: 1px;

}
#career{
	background:#f39c12;

}

th,td,tr{
	padding:10px 15px;
}

#footer{
	padding-top:20px;
	padding-bottom:20px;
	background:#282828;
	color:#fff;
}
#footer p{margin:0;}
#footer a{
	color:#fff;
}
#footer a:hover{
	text-decoration:underline;
	transition:all linear 0.2s;
}
#footer .project{
	float:right;
}
